.tagger{
	margin-top: 75px;
	
	
	.slider-horizontal{
		width: 730px;
		margin: 0px 20px;
	}

	.alert-message{
		padding: 0px 8px;
	    border-radius: 3px;
	    margin-top: 3px;
	}

	.badge-warning{
		font-size: 14px;
	}
}



